body {
  background-color: white;
}

h1,
h2,
h3,
p {
  color: #000000;
  margin: 0em;
  line-height: 2em;
}

a {
  color: clear;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.background-red {
  background: red;
}
.phishingLink1 a:last-child
{
  background: red;
  color: white;
  padding: 10px;
}

.phishingLink1 a:last-child:hover
{
  background: white;
  color: red;
  border: 1px solid black;
}

.phishingLink2 a:last-child
{
  /*border: 1px solid black;
  padding: 10px;*/
  color: black;
}

.phishingLink2 a:last-child:hover
{
  text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}
